:root {
  --green: #104e50;
  --white: #fffefc;
  --gold: #ffc100;
  --grey: #979797;
  --red: #ff0303;
  --teal: #88d4d8;
  --pastel-purple: #e1a1ff;
  --pastel-teal: #a1faff;
  --pastel-green: #7dffbe;
  --pastel-pink: #ffa1e9;
  --pastel-yellow: #edffa1;
  --pastel-blue: #a1b0ff;
  --light: 300;
  --medium: 500;
  --bold: 700;
  --extrabold: 800;
  --sml: 1rem; /* 16px */
  --mid: 1.3125rem; /* 21px */
  --big: 3rem; /* 48px */
  --stripes: repeating-linear-gradient(
    45deg,
    var(--gold),
    var(--gold) calc(var(--sml) * 0.3),
    transparent calc(var(--sml) * 0.3),
    transparent calc(var(--sml) * 0.6)
  );
  --animationDuration: 0.2s;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--small);
  color: var(--green);
  background: var(--white);
}
#svelte {
  overflow: hidden;
}
h1 {
  font-weight: var(--extrabold);
  font-size: var(--big);
  color: var(--gold);
  text-transform: uppercase;
  margin: var(--big) 0;
  line-height: 1;
}
@media screen and (min-width: 510px) {
  .clinic h1,
  .Courses h1 {
    font-size: calc(var(--big) * 1.5);
  }
}
.Courses h1 {
  color: var(--green);
}
.Courses {
  --stripes: repeating-linear-gradient(
    45deg,
    var(--green),
    var(--green) calc(var(--sml) * 0.3),
    transparent calc(var(--sml) * 0.3),
    transparent calc(var(--sml) * 0.6)
  );
}
h2 {
  font-weight: var(--bold);
  font-size: var(--mid);
}
p,
ul {
  font-weight: var(--light);
}
p {
  margin-bottom: var(--sml);
  line-height: var(--mid);
}
hr {
  margin: var(--mid) 0;
}

/* FORMS */
form label:first-of-type {
  margin-top: 0;
}
label {
  margin-top: var(--big);
  margin-bottom: calc(var(--sml) * 0.5);
  font-size: var(--mid);
}
label.small {
  font-size: var(--sml);
  font-weight: var(--light);
}
label,
input {
  display: block;
}
input,
textarea {
  color: var(--green);
  padding: calc(var(--sml) * 0.5);
  border: 1px solid var(--teal);
  outline: var(--green);
  font-weight: var(--light);

  font-size: var(--mid);
  margin-bottom: calc(var(--sml) * 0.5);
  border-radius: calc(var(--sml) * 0.5);
  width: 100%;
  font-weight: var(--medium);
  background: var(--white);
}
@media screen and (min-width: 510px) {
  input,
  textarea {
    font-size: var(--sml);
  }
}
input::placeholder,
textarea::placeholder {
  color: var(--grey);

  font-weight: var(--light);
}
input[type="checkbox"] {
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 1rem;
  font-size: 1rem;
}
.check {
  margin-top: var(--mid);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--sml);
  align-items: center;
}
[type="submit"] {
  color: var(--white);
  background: var(--green);
  font-size: var(--mid);
  width: 100%;
  text-align: center;
  padding: var(--sml);
  margin-top: var(--sml);
  border: none;
  border-radius: var(--sml);
}

/* HELPERS */
.hidden {
  display: none;
}
